@import "bootstrap-theme.scss";

#app,
.swal-modal,
.modal {
    .swal-button,
    .btn {
        font-weight: 600;
        font-size: 11pt;
        transition: 150ms;
        box-shadow: none;
    }
}
