@import "bootstrap-theme.scss";

#app,
.swal-modal,
.modal {
    .swal-button,
    .btn {
        font-weight: 600;
        font-size: 11pt;
        transition: 150ms;
        box-shadow: none;
        border: none;

        &.btn-default {
            color: #fff;
            background-color: #49545b;

            &:hover {
                color: white;
                background-color: #3096cf;
            }
        }

        &.btn-none {
            color: #bdc7cb;

            &:hover {
                color: white;
                background-color: #59686d;
            }
        }
    }
}
