/*	Chrome components	*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    margin: auto;
    background: #4a4a4a;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    background: #696969;
    border: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #777;
}
